################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Duende/IdentityServer/bin/Debug
/Duende/IdentityServer/.vs
/Duende/IdentityDuende/bin/Debug